<div class="col-md-12" *ngIf="devices">
    <h1>{{ 'Devices' | translate }}</h1>

    <div class="row">
        <div class="col-lg-10">
            <input class="form-control" #searchBox id="search-box" (keyup)="filterDevices(searchBox.value)"
                   placeholder="Search..." i18n-placeholder="User search placeholder"/>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./add']">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'CreateDevice' | translate }}</span>
            </button>
        </div>
    </div>
    <br>
    <table class="table table-striped" align="center">
        <thead class="thead-inverse">
        <tr>
            <th>{{ 'Name' | translate }}</th>
            <th>{{ 'SerialNumber' | translate }}</th>
            <th>{{'DeviceModel'|translate}}</th>
            <th>{{ 'DeviceType' | translate }}</th>
            <th>{{'Manufacture'|translate}}</th>
            <th>{{'Location'|translate}}</th>
            <th>{{'LastUpdate'|translate}}</th>
            <th>{{'Person responsible for'| translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let device of devices">
            <td>{{device.name}}</td>
            <td>{{device.serialNumber}}</td>
            <td>{{device.deviceModel}}</td>
            <td>{{device.deviceTypeName}}</td>
            <td>{{device.manufacture}}</td>
            <td>{{device.location}}</td>
            <td>{{device.lastUpdate}}</td>
            <td>{{device.username}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['./view/'+device.id]"
                            class="btn btn-info btn-sm">
                        <i class="fa fa-eye"></i>&nbsp;
                        <span class="d-none d-md-inline">View</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['./edit/'+device.id]"
                            queryParamsHandling="merge"
                            class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil"></i>&nbsp;
                        <span class="d-none d-md-inline">Edit</span>
                    </button>
                    <button type="button" (click)="transfer(device)"
                            class="btn btn-warning btn-sm">
                        <i class="fa fa-exchange"></i>&nbsp;
                        <span class="d-none d-md-inline">Transfer</span>
                    </button>
                    <button type="button" (click)="delete(device)"
                            class="btn btn-danger btn-sm">
                        <i class="fa fa-times"></i>&nbsp;
                        <span class="d-none d-md-inline">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
