<div class="col-sm-12">
    <h1 class="text-muted">Main page</h1>
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> System messages
                </div>
                <app-timeline></app-timeline>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> <span>{{ 'Notifications' | translate }}</span>
                </div>
                <app-notification></app-notification>
            </div>
        </div>
    </div>
</div>
