<div class="row">
    <div class="col-lg-12 ">
        <form class="form-horizontal">
            <fieldset>
                <h1>{{'CreateUser'|translate}}</h1>

                <div class="form-group">
                    <label class="col-xl-5 control-label" for="Username">{{'Username' | translate}}</label>
                    <div class="col-xl-5">
                        <div class="input-group">
                            <input id="Username" [(ngModel)]="createUserData.username" name="Username" type="text"
                                   placeholder="Username" class="form-control input-xl" required minlength="3" maxlength="16" #username="ngModel">
                            <div *ngIf="username.invalid && (username.touched || username.dirty)" class="alert alert-danger col-sm-12">
                                <div *ngIf="username.hasError('required')" i18n="@@usernameReq">
                                    Username is required
                                </div>
                                <div *ngIf="username.hasError('minlength')" i18n="@@usernameMin">
                                    Username must be at least 3 characters long
                                </div>
                                <div *ngIf="username.hasError('maxlength')" i18n="@@usernameMax">
                                    Username cannot be longer than 16 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xl-5 control-label" for="Password">{{'Password' | translate}}</label>
                        <div class="col-xl-5">
                            <div class="input-group">
                                <input id="Password" [(ngModel)]="createUserData.password" name="Password" type="password"
                                       placeholder="Password" class="form-control input-xl" minlength="8"
                                       required #password="ngModel">
                                <div *ngIf="password.invalid && (password.touched || password.dirty)" class="alert alert-danger col-sm-12">
                                    <div *ngIf="password.hasError('required')" i18n="@@passwordReq">
                                        Password is required
                                    </div>
                                    <div *ngIf="password.hasError('minlength')" i18n="@@passwordMin">
                                        Password must be at least 8 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xl-5 control-label" for="Password">{{'RepeatPassword' | translate}}</label>
                        <div class="col-xl-5">
                            <div class="input-group">
                                <input id="RepeatPassword" [(ngModel)]="createUserData.password" name="RepeatPassword" type="password"
                                       placeholder="RepeatPassword" class="form-control input-xl" minlength="8"
                                       #passwordRepeated="ngModel">
                                <div *ngIf="password.invalid && (password.touched || password.dirty)" class="alert alert-danger col-sm-12">
                                    <div *ngIf="password.hasError('required')" i18n="@@passwordReq">
                                        Password is required
                                    </div>
                                    <div *ngIf="password.hasError('minlength')" i18n="@@passwordMin">
                                        Password must be at least 8 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xl-5 control-label" for="Name">{{'Name' | translate}}</label>
                        <div class="col-xl-5">
                            <div class="input-group">
                                <input id="Name" [(ngModel)]="createUserData.name" name="Name" type="text"
                                       placeholder="Name" class="form-control input-xl">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xl-5 control-label" for="Surname">{{'Surname' | translate}}</label>
                        <div class="col-xl-5">
                            <div class="input-group">
                                <input id="Surname" [(ngModel)]="createUserData.surname" name="Surname" type="text"
                                       placeholder="Surname" class="form-control input-xl">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xl-9 control-label" for="Address">{{'Address' | translate}}</label>
                        <div class="col-xl-9 ">
                            <div id="Address" class="row">
                                <div class="col-xl-4">
                                    <div class="input-group">
                                        <input id="City" [(ngModel)]="createUserData.city" name="City" type="text"
                                               placeholder="City" class="form-control input-xl">
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="input-group">
                                        <input id="Street" [(ngModel)]="createUserData.street" name="Street" type="text"
                                               placeholder="Street" class="form-control input-xl">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-2">
                                    <div class="input-group">
                                        <input id="houseNumber" [(ngModel)]="createUserData.houseNumber"
                                               name="houseNumber" type="text" placeholder="houseNumber"
                                               class="form-control input-xl">
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <div class="input-group">
                                        <input id="flatNumber" [(ngModel)]="createUserData.flatNumber"
                                               name="flatNumber" type="text" placeholder="flatNumber"
                                               class="form-control input-xl">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <!--&lt;!&ndash; File Button &ndash;&gt;-->
                <!--<div class="form-group">-->
                <!--<label class="col-xl-7 control-label" for="Upload photo">Upload photo</label>-->
                <!--<div class="col-xl-7">-->
                <!--<input id="Upload photo" name="Upload photo" class="input-file" type="file">-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-xl-7 control-label" for="Email Address">Phone Number</label>
                    <div class="col-xl-7">
                        <div class="input-group">
                            <input id="phoneno" name="phoneno" type="text" placeholder="Phone No"
                                   class="form-control input-xl">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-xl-7 control-label" for="Email Address">Email Address</label>
                    <div class="col-xl-7">
                        <div class="input-group">
                            <input id="Email Address" name="Email Address" type="text"
                                   placeholder="Email Address" class="form-control input-xl">
                        </div>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-xl-7 control-label" for="Overview (max 200 words)">Overview (max 200
                        words)</label>
                    <div class="col-xl-7">
                                <textarea class="form-control" rows="10" id="Overview (max 200 words)"
                                          name="Overview (max 200 words)">Overview</textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-xl-6" align="center">
                                <a href="#" class="btn btn-success"><span
                                    class="glyphicon glyphicon-thumbs-up"></span> Submit</a>
                            </div>
                            <div class="col-xl-6" align="center">
                                <a href="#" class="btn btn-danger" value=""><span
                                    class="glyphicon glyphicon-remove-sign"></span> Clear</a>

                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </fieldset>

    </form>

</div>

</div>

