<!--<div class="container">-->
<div class="row">
    <div class="col-lg-4 ">
        <div class="card">
            <div class="card-header"><h4>{{'OfficeView'| translate}}</h4></div>
            <div class="card-body">

                <div class="box box-info">
                    <div class="row">
                        <div class="col-sm-12">
                            <span><h4 style="color:#00b1b1;">{{office.name}}</h4></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">

                    <div class="row">
                        <div class="col-sm-5 col-xs-6 tital ">{{'ElementName'|translate}}</div>
                        <div class="col-sm-7 col-xs-6 ">{{office.name}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-6 tital ">{{'CompanyName'|translate}}</div>
                        <div class="col-sm-7 col-xs-6 ">{{office.companyName}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-6 tital ">{{'DepartmentName'|translate}}</div>
                        <div class="col-sm-7 col-xs-6 ">{{office.departmentName}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-6 tital ">{{'City'| translate}}</div>
                        <div class="col-sm-7 col-xs-6 ">
                            <div class="box" id="city">{{office.city}}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-6 tital ">{{'Address'| translate}}</div>
                        <div class="col-sm-7">{{getAddress()}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-6 tital ">{{'Description'| translate}}</div>
                        <div class="col-sm-7 col-xs-6 ">
                            <div class="box">{{office.description}}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <br>
                    <div class="row" *ngIf="roles.admin||roles.company_admin">
                        <div class="col-sm-6" align="center">
                            <button [routerLink]="['/admin/offices/edit/'+office.id]" class="btn btn-primary">{{'Edit'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="box">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-10">
                            <h4>{{'Devices'|translate}}</h4>
                        </div>
                        <div class="col-lg-2" *ngIf="roles.admin||roles.company_admin">
                            <button class="btn btn-primary float-right jh-create-entity"
                                    [routerLink]="['/admin/devices']">
                                <span>{{ 'DeviceManager' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped" align="center" *ngIf="devices">
                        <thead class="thead-inverse">
                        <tr>
                            <th>{{ 'DeviceModel' | translate }}</th>
                            <th>{{ 'SerialNumber' | translate }}</th>
                            <th>{{ 'DeviceType' | translate }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let device of devices">
                            <td>{{device.deviceModel}}</td>
                            <td>{{device.serialNumber}}</td>
                            <td>{{device.deviceTypeName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-10">
                            <h4>{{'Warehouses'|translate}}</h4>
                        </div>
                        <div class="col-lg-2" *ngIf="roles.admin||roles.company_admin">
                            <button class="btn btn-primary float-right jh-create-entity"
                                    [routerLink]="['/admin/warehouses']">
                                <span>{{ 'Warehousemanager' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped" align="center" *ngIf="warehouses">
                        <thead class="thead-inverse">
                        <tr>
                            <th>{{ 'ElementName' | translate }}</th>
                            <th>{{ 'OfficeName' | translate }}</th>
                            <th>{{ 'PersonResponsibleFor' | translate }}</th>
                            <th>{{'DevicesNumber'|translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let warehouse of warehouses">
                            <td>{{warehouse.name}}</td>
                            <td>{{warehouse.officeName}}</td>
                            <td>{{warehouse.responsibleFor}}</td>
                            <td>{{warehouse.devicesNumber}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





