<div class="col-sm-6">
    <h2>{{'Change password'|translate}}</h2>
    <form #PasswordForm="ngForm" (ngSubmit)="changePasswordSubmit()">
        <div class="form-row form-group">
            <label for="inputOldPassword" class="required-sign">{{'Old Password'|translate}}<span style="color:red">*</span></label>
            <input [(ngModel)]="passwordData.oldPassword"
                   name="oldPassword"
                   type="password"
                   class="form-control"
                   id="inputOldPassword"
                   minlength="8"
                   required
                   #oldPassword="ngModel"/>
            <div *ngIf="oldPassword.invalid && (oldPassword.touched || oldPassword.dirty)" class="alert alert-danger col-sm-12">
                <div *ngIf="oldPassword.hasError('required')">
                    {{'Password is required'|translate}}
                </div>
                <div *ngIf="oldPassword.hasError('minlength')">
                    {{'Password must be at least 8 characters long'|translate}}
                </div>
            </div>
        </div>

        <div class="form-row form-group">
            <label for="inputNewPassword" class="required-sign">{{'New Password'|translate}}<span style="color:red">*</span></label>
            <input [(ngModel)]="passwordData.newPassword"
                   name="newPassword"
                   type="password"
                   class="form-control"
                   id="inputNewPassword"
                   minlength="8"
                   required
                   #newPassword="ngModel"/>
            <div *ngIf="newPassword.invalid && (newPassword.touched || newPassword.dirty)" class="alert alert-danger col-sm-12">
                <div *ngIf="newPassword.hasError('required')">
                    {{'Password is required'|translate}}
                </div>
                <div *ngIf="newPassword.hasError('minlength')">
                    {{'Password must be at least 8 characters long'|translate}}
                </div>
            </div>
        </div>

        <div class="form-row form-group">
            <label for="inputRepeatNewPassword" class="required-sign" i18n="@@repeatNewPasswordLabel">{{'Repeat New Password'|translate}}<span style="color:red">*</span></label>
            <input [(ngModel)]="passwordData.repeatNewPassword"
                   name="repeatNewPassword"
                   type="password"
                   class="form-control"
                   id="inputRepeatNewPassword"
                   required appPasswordMatch="{{passwordData.newPassword}}"
                   #repeatNewPassword="ngModel"/>
            <div *ngIf="repeatNewPassword.invalid && (repeatNewPassword.touched || repeatNewPassword.dirty)" class="alert alert-danger col-sm-12">
                <div *ngIf="repeatNewPassword.hasError('noMatch')" i18n="@@passwordRepeatedMatch">{{'Passwords do not match.'|translate}}</div>
                <div *ngIf="repeatNewPassword.hasError('required')" i18n="@@passwordRepeatedReq">{{'Password is required'|translate}}</div>
            </div>
        </div>

        <div class="form-row">
            <button type="submit" class="btn btn-primary" [disabled]="!PasswordForm.form.valid" >{{'Change Password'|translate}}</button>
        </div>
    </form>
</div>
