<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/main-page" *ngIf="(roles.user)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>{{ 'HomePage' | translate }}</span>
        </a>
        <div class="nested-menu" *ngIf="(roles.admin)">
            <a class="list-group-item" (click)="addExpandClass('userManagementPanel')">
                <i class="fa fa-book"></i>&nbsp;
                <span>{{ 'Administration' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'userManagementPanel'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/admin/users']" href="javascript:void(0)">
                            <span>{{ 'Users' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/companies']">
                            <span>{{ 'Companies' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="(roles.admin || roles.company_admin)">
            <a class="list-group-item" (click)="addExpandClass('companyManagementPanel')">
                <i class="fa fa-sitemap"></i>&nbsp;
                <span>{{ 'Structures' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'companyManagementPanel'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/admin/departments']">
                            <span>{{ 'Departments' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/offices']">
                            <span>{{ 'Offices' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/devices']">
                            <span>{{ 'Devices' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/devices/model']">
                            <span>{{ 'DevicesModels' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/devices/type']">
                            <span>{{ 'DevicesTypes' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/requests']">
                            <span>{{ 'Requests' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/reports']">
                            <span>{{ 'Reports' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/transfers']">
                            <span>{{ 'Transfers' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/warehouses']">
                            <span>{{ 'Warehouses' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/deliveries']">
                            <span>{{ 'Deliveries' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/shipments']">
                            <span>{{ 'Shipments' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="(roles.user || roles.manager)">
            <a class="list-group-item" (click)="addExpandClass('employeesManagementPanel')">
                <i class="fa fa-briefcase"></i>&nbsp;
                <span>{{ 'EmployeeManager' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'employeesManagementPanel'">
                <ul class="submenu">
                    <li *ngIf="(roles.manager)">
                        <a [routerLink]="['employees/subordinates']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Employees' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/notifications']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Notifications' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/employees/requests']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Requests' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/employees/reports']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Reports' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/employees/reports/add']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'CreateReport' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="(roles.user)">
            <a class="list-group-item" (click)="addExpandClass('devicesManagementPanel')">
                <i class="fa fa-desktop"></i>&nbsp;
                <span>{{ 'Devices' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'devicesManagementPanel'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/devices']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'YourDevices' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/devices/transfer']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'YourTransfers' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/devices/request/add']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'DeviceRequestAdd' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="roles.warehouseman">
            <a class="list-group-item" (click)="addExpandClass('warehouseManagementPanel')">
                <i class="fa fa-houzz"></i>&nbsp;
                <span>{{ 'Warehouse' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'warehouseManagementPanel'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/warehouses']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'YourWarehouses' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/warehouses/devices']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Devices' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/warehouses/requests']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'WarehouseRequests' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/warehouses/delivery']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Deliveries' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/warehouses/delivery/request/add']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'DeliveryRequestAdd' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/warehouses/shipment']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Shipments' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/warehouses/shipment/request/add']">
                            <i  class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'ShipmentRequestAdd' | translate }}</span>
                        </a>
                    </li>


                </ul>
            </li>
        </div>
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('pl')">
                                {{ 'Polish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <!--<li>-->
                            <!--<a href="javascript:void(0)">-->
                                <!--<span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
