<div class="col-sm-12 col-md-8 offset-md-2">
    <h2>{{ 'DepartmentList' | translate }}</h2>

    <form class="form-inline">
        <input class="form-control" #searchBox id="search-box" (keyup)="filterUsers(searchBox.value)"
               placeholder="Search..." i18n-placeholder="User search placeholder"/>
    </form>
    <table class="table table-striped" align="center">
        <thead class="thead-inverse">
        <tr>
            <th>{{ 'Name' | translate }}</th>
            <th>{{ 'Description' | translate }}</th>
            <th>{{ 'Options' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let department of departments">
            <td>{{department.name}}</td>
            <td>{{department.description}}</td>
            <td>Options</td>
        </tr>
        </tbody>
    </table>
</div>
