<!--<div class="col-sm-12 col-md-8 offset-md-2">-->
<div class="col-md-12">
<h1>{{ 'Companies' | translate }}</h1>

<div class="row">
    <div class="col-lg-10">
        <input class="form-control" #searchBox id="search-box" (keyup)="filterCompanies(searchBox.value)"
               placeholder="Search..." i18n-placeholder="User search placeholder"/>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./add']">
            <i class="fa fa-plus"></i>&nbsp;
            <span>{{ 'CreateCompany' | translate }}</span>
        </button>
    </div>
</div>
<br>
<table class="table table-striped" align="center">
    <thead class="thead-inverse">
    <tr>
        <th>{{ 'Name' | translate }}</th>
        <th>{{ 'Description' | translate }}</th>
        <th>{{ 'City' | translate }}</th>
        <th>{{'ZipCode'|translate}}</th>
        <th>{{ 'Adress' | translate }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies">
        <td>{{company.name}}</td>
        <td id="description">{{company.description}}</td>
        <td>{{company.city}}</td>
        <td>{{company.zipCode}}</td>
        <td>{{getAddress(company)}}</td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['/structures/companies/view/'+company.id]"
                        class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i>&nbsp;
                    <span class="d-none d-md-inline">View</span>
                </button>
                <button type="submit"
                        [routerLink]="['./edit/'+company.id]"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <i class="fa fa-pencil"></i>&nbsp;
                    <span class="d-none d-md-inline">Edit</span>
                </button>
                <button type="button" (click)="delete(company)"
                        class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>&nbsp;
                    <span class="d-none d-md-inline">Delete</span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
