<div class="col-xl-12">
<h1>{{ 'Requests' | translate }}</h1>
<br>
<ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle>{{'YourRequests'|translate}}</ng-template>
        <ng-template ngbTabContent>
            <table class="table table-striped" align="center">
                <thead class="thead-inverse">
                <tr>
                    <th>{{ 'Title' | translate }}</th>
                    <th>{{ 'Username' | translate }}</th>
                    <th>{{'Status'|translate}}</th>
                    <th>{{'Type'|translate}}</th>
                    <th>{{ 'Sender' | translate }}</th>
                    <th>{{'Reciever'|translate}}</th>
                    <th>{{'Date'|translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let request of yourRequest">
                    <td>{{request.title}}</td>
                    <td>{{request.username}}</td>
                    <td>{{getStatus(request.status)}}</td>
                    <td>{{getType(request.type)}}</td>
                    <td>{{request.senderWarehouseName}}</td>
                    <td>{{request.recieverWarehouseName}}</td>
                    <td>{{request.createDate}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    (click)="viewPage(request)"
                                    class="btn btn-info btn-sm">
                                <i class="fa fa-eye"></i>&nbsp;
                                <span class="d-none d-md-inline">{{'View'|translate}}</span>
                            </button>
                            <button *ngIf="request.status=='WAITING'" type="button" (click)="cancel(request)"
                                    class="btn btn-danger btn-sm">
                                <i class="fa fa-times"></i>&nbsp;
                                <span class="d-none d-md-inline">{{'Cancel'|translate}}</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="roles.manager">
        <ng-template ngbTabTitle>{{'IncomingRequests'|translate}}</ng-template>
        <ng-template ngbTabContent>
            <table class="table table-striped" align="center">
                <thead class="thead-inverse">
                <tr>
                    <th>{{ 'Title' | translate }}</th>
                    <th>{{ 'Username' | translate }}</th>
                    <th>{{'Status'|translate}}</th>
                    <th>{{'Type'|translate}}</th>
                    <th>{{ 'Sender' | translate }}</th>
                    <th>{{'Reciever'|translate}}</th>
                    <th>{{'Date'|translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let request of employeesRequest">
                    <td>{{request.title}}</td>
                    <td>{{request.username}}</td>
                    <td>{{getStatus(request.status)}}</td>
                    <td>{{getType(request.type)}}</td>
                    <td>{{request.senderWarehouseName}}</td>
                    <td>{{request.recieverWarehouseName}}</td>
                    <td>{{request.createDate}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    (click)="viewPage(request)"
                                    class="btn btn-info btn-sm">
                                <i class="fa fa-eye"></i>&nbsp;
                                <span class="d-none d-md-inline">{{'View'|translate}}</span>
                            </button>
                            <button *ngIf="roles.manager && request.status=='WAITING'" type="button" (click)="reject(request)"
                                    class="btn btn-danger btn-sm">
                                <i class="fa fa-times"></i>&nbsp;
                                <span class="d-none d-md-inline">{{'Reject'|translate}}</span>
                            </button>
                            <button *ngIf="roles.manager && request.status=='WAITING'" type="button" (click)="accept(request)"
                                    class="btn btn-success btn-sm">
                                <i class="fa fa-times"></i>&nbsp;
                                <span class="d-none d-md-inline">{{'Accept'|translate}}</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>
