<div class="col-xl-12">
<h1>{{ 'Subordinates' | translate }}</h1>

    <div class="row">
        <div class="col-lg-10">
            <input class="form-control" #searchBox id="search-box" (keyup)="filterSubordinates(searchBox.value)"
                   placeholder="{{'Search...'|translate}}" />
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>{{ 'Name' | translate }}</th>
            <th>{{ 'Surname' | translate }}</th>
            <th>{{ 'Username' | translate }}</th>
            <th>{{ 'Email' | translate }}</th>
            <th>{{ 'Options' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of subordinates">
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td class="text-left">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['./user/view/'+user.username]"
                            class="btn btn-info btn-sm">
                        <i class="fa fa-eye"></i>&nbsp;
                        <span class="d-none d-md-inline">{{'View'|translate}}</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

