<div [@routerTransition]>
<!--<div class="col-sm-12 col-md-8 offset-md-2">-->
    <h1>{{ 'UserList' | translate }}</h1>

    <div class="row">
        <div class="col-lg-10">
            <input class="form-control" #searchBox id="search-box" (keyup)="filterUsers(searchBox.value)"
                   placeholder="Search..." i18n-placeholder="User search placeholder"/>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./add']">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'RegisterUser' | translate }}</span>
            </button>
        </div>
    </div>
    <br>
     <table class="table table-striped" >
        <thead class="thead-inverse">
            <tr>
                <th>{{ 'Name' | translate }}</th>
                <th>{{ 'Surname' | translate }}</th>
                <th>{{ 'Username' | translate }}</th>
                <th>{{'Authorities'|translate}}</th>
                <th>{{ 'Email' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.username}}</td>
                <td>
                    <div *ngFor="let authority of user.roles">
                        <span class="badge badge-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.email}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['./view/'+user.username]"
                                class="btn btn-info btn-sm">
                            <i class="fa fa-eye"></i>&nbsp;
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['./edit/'+user.username]"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil"></i>&nbsp;
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="button" (click)="delete(user)"
                                class="btn btn-danger btn-sm" >
                            <i class="fa fa-times"></i>&nbsp;
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--</div>-->
