<!--<div class="col-sm-12 col-md-8 offset-md-2">-->
<div class="col-md-12">
    <h1>{{ 'YourTransfers' | translate }}</h1>

    <div class="row">
        <div class="col-lg-10">
            <input class="form-control" #searchBox id="search-box" (keyup)="filterTransfers(searchBox.value)"
                   placeholder="Search..." i18n-placeholder="User search placeholder"/>
        </div>
    </div>
    <br>
    <table class="table table-striped" align="center">
        <thead class="thead-inverse">
        <tr>
            <th>{{ 'Name' | translate }}</th>
            <th>{{ 'DeviceName' | translate }}</th>
            <th>{{'DeviceSerialNumber'| translate}}</th>
            <th>{{ 'Date' | translate }}</th>
            <th>{{'Sender'| translate}}</th>
            <th>{{'Reciever' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transfer of transfers">
            <td>{{transfer.title}}</td>
            <td>{{transfer.deviceName}}</td>
            <td>{{transfer.deviceSerialNumber}}</td>
            <td>{{transfer.date}}</td>
            <td>{{transfer.senderWarehouseName}}</td>
            <td>{{transfer.recieverWarehouseName}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['./view/'+transfer.id]"
                            class="btn btn-info btn-sm">
                        <i class="fa fa-eye"></i>&nbsp;
                        <span class="d-none d-md-inline">View</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
