<div class="col-sm-12 col-md-6 offset-3">
    <h2 i18n="@@changePasswordByAdminHeader">Change password</h2>
    <form #PasswordForm="ngForm" (ngSubmit)="changePasswordByAdminSubmit()">
        <div class="form-row form-group">
            <label for="inputNewPasswordByAdmin" class="required-sign" i18n="@@newPasswordByAdminLabel">New Password</label>
            <input [(ngModel)]="passwordDataByAdmin.newPassword"
                   name="newPassword"
                   type="password"
                   class="form-control"
                   id="inputNewPasswordByAdmin"
                   minlength="8"
                   required
                   #newPassword="ngModel"/>
            <div *ngIf="newPassword.invalid && (newPassword.touched || newPassword.dirty)" class="alert alert-danger col-sm-12">
                <div *ngIf="newPassword.hasError('required')" i18n="@@passwordByAdminReq">
                    Password is required
                </div>
                <div *ngIf="newPassword.hasError('minlength')" i18n="@@passwordByAdminMin">
                    Password must be at least 8 characters long
                </div>
            </div>
        </div>

        <div class="form-row form-group">
            <label for="inputRepeatNewPasswordByAdmin" class="required-sign" i18n="@@repeatNewPasswordByAdminLabel">Repeat New Password</label>
            <input [(ngModel)]="passwordDataByAdmin.repeatNewPassword"
                   name="repeatNewPassword"
                   type="password"
                   class="form-control"
                   id="inputRepeatNewPasswordByAdmin"
                   required appPasswordMatch=passwordDataByAdmin.newPassword
                   #repeatNewPassword="ngModel"/>
            <div *ngIf="repeatNewPassword.invalid && (repeatNewPassword.touched || repeatNewPassword.dirty)" class="alert alert-danger col-sm-12">
                <div *ngIf="repeatNewPassword.hasError('noMatch')" i18n="@@passwordRepeatedByAdminMatch">Passwords do not match.</div>
                <div *ngIf="repeatNewPassword.hasError('required')" i18n="@@passwordRepeatedByAdminReq">This field is required.</div>
            </div>
        </div>


        <div class="form-row">
            <button type="submit" class="btn btn-primary" [disabled]="!PasswordForm.form.valid" i18n="@@changePasswordByAdminButton">Change Password</button>
        </div>
    </form>
</div>
