<div class="col-sm-6">
    <h2>{{'ChangePassword'|translate}}</h2>
    <form #PasswordForm="ngForm" (ngSubmit)="changePasswordByAdminSubmit()">
        <div class="form-row form-group">
            <label for="inputNewPasswordByAdmin" class="required-sign">{{'New Password'|translate}}</label>
            <input [(ngModel)]="passwordDataByAdmin.newPassword"
                   name="newPassword"
                   type="password"
                   class="form-control"
                   id="inputNewPasswordByAdmin"
                   minlength="8"
                   required
                   #newPassword="ngModel"/>
            <div *ngIf="newPassword.invalid && (newPassword.touched || newPassword.dirty)" class="alert alert-danger col-sm-12">
                <div *ngIf="newPassword.hasError('required')">{{'Password is required'|translate}}
                </div>
                <div *ngIf="newPassword.hasError('minlength')">{{'Password must be at least 8 characters long'|translate}}
                </div>
            </div>
        </div>

        <div class="form-row form-group">
            <label for="inputRepeatNewPasswordByAdmin" class="required-sign">{{'Repeat New Password'|translate}}</label>
            <input [(ngModel)]="passwordDataByAdmin.repeatNewPassword"
                   name="repeatNewPassword"
                   type="password"
                   class="form-control"
                   id="inputRepeatNewPasswordByAdmin"
                   required appPasswordMatch="{{passwordDataByAdmin.newPassword}}"
                   #repeatNewPassword="ngModel"/>
            <div *ngIf="repeatNewPassword.invalid && (repeatNewPassword.touched || repeatNewPassword.dirty)" class="alert alert-danger col-sm-12">
                <div *ngIf="repeatNewPassword.hasError('noMatch')">{{'Passwords do not match.'|translate}}</div>
                <div *ngIf="repeatNewPassword.hasError('required')">{{'This field is required.'|translate}}</div>
            </div>
        </div>


        <div class="form-row">
            <button type="submit" class="btn btn-primary" [disabled]="!PasswordForm.form.valid">{{'Change Password'|translate}}</button>
        </div>
    </form>
</div>
