$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;

        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
            margin-right: 20px;
                .dropdown-item {
                   padding-right : 100px;
                }

        }

    }
    .messages {
        width: 300px;
        max-width: 300px;
        white-space: normal;
        word-wrap: break-word;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            max-width: 300px;
            word-wrap: break-word;
            white-space: normal;
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                word-wrap: break-word;
                white-space: normal;
                font-size: 12px;
                max-width:300px ;
                margin: 0;
            }

        }
    }
}
