<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h1>Inventory system</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input name="login" type="text" [(ngModel)]="loginData.username" class="form-control input-underline input-lg" id="LoginId" placeholder="{{'Username'|translate}}">
                    </div>

                    <div class="form-group">
                        <input name="password" type="password" [(ngModel)]="loginData.password" class="form-control input-underline input-lg" id="PasswordId" placeholder="{{'Password'|translate}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <a class="btn btn-success" (click)="onLoggedin()"> {{'Log in'|translate}} </a>
                    </div>
                    <div class="col-md-6">
                    <a class="btn btn-danger" [routerLink]="['/login/reset']">{{'ForgetPassword'|translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
