<div class="col-xl-12" *ngIf="transferRequests && deviceRequests">
    <h1>{{ 'Requests' | translate }}</h1>
    <br>
    <ngb-tabset>
        <ngb-tab *ngIf="transferRequests">
            <ng-template ngbTabTitle>{{'TransferRequests'|translate}}</ng-template>
            <ng-template ngbTabContent>
                <table class="table table-striped" align="center">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                        <th>{{'Status'|translate}}</th>
                        <th>{{ 'Sender' | translate }}</th>
                        <th>{{'Reciever'|translate}}</th>
                        <th>{{'Date'|translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let request of transferRequests">
                        <td>{{request.title}}</td>
                        <td>{{getStatus(request.status)}}</td>
                        <td>{{request.senderWarehouseName}}</td>
                        <td>{{request.recieverWarehouseName}}</td>
                        <td>{{request.createDate}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        (click)="viewPage(request)"
                                        class="btn btn-info btn-sm">
                                    <i class="fa fa-eye"></i>&nbsp;
                                    <span class="d-none d-md-inline">{{'View'|translate}}</span>
                                </button>
                                <button type="button" (click)="delete(request)"
                                        *ngIf="request.status=='REALIZED'"
                                        class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;
                                    <span class="d-none d-md-inline">{{'Delete'|translate}}</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="deviceRequests">
            <ng-template ngbTabTitle>{{'DeviceRequests'|translate}}</ng-template>
            <ng-template ngbTabContent>
                <table class="table table-striped" align="center">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                        <th>{{'Status'|translate}}</th>
                        <th>{{ 'Sender' | translate }}</th>
                        <th>{{'Reciever'|translate}}</th>
                        <th>{{'Date'|translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let request of deviceRequests">
                        <td>{{request.title}}</td>
                        <td>{{getStatus(request.status)}}</td>
                        <td>{{request.senderWarehouseName}}</td>
                        <td>{{request.recieverWarehouseName}}</td>
                        <td>{{request.createDate}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        (click)="viewPage(request)"
                                        class="btn btn-info btn-sm">
                                    <i class="fa fa-eye"></i>&nbsp;
                                    <span class="d-none d-md-inline">{{'View'|translate}}</span>
                                </button>
                                <button type="button" (click)="delete(request)"
                                        *ngIf="request.status=='REALIZED'"
                                        class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;
                                    <span class="d-none d-md-inline">{{'Delete'|translate}}</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
