<h1>{{ 'Warehouses' | translate }}</h1>

<div class="row">
    <div class="col-lg-10">
        <input class="form-control" #searchBox id="search-box" (keyup)="filterWarehouses(searchBox.value)"
               placeholder="Search..." i18n-placeholder="User search placeholder"/>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./add']">
            <i class="fa fa-plus"></i>&nbsp;
            <span>{{ 'CreateWarehouse' | translate }}</span>
        </button>
    </div>
</div>
<br>
<table class="table table-striped" align="center">
    <thead class="thead-inverse">
    <tr>
        <th>{{ 'ElementName' | translate }}</th>
        <th>{{ 'OfficeName' | translate }}</th>
        <th>{{'Location'| translate}}</th>
        <th>{{ 'Person responsible for' | translate }}</th>
        <th>{{'DevicesNumber'|translate}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let warehouse of warehouses">
        <td>{{warehouse.name}}</td>
        <td>{{warehouse.officeName}}</td>
        <td></td>
        <td>{{warehouse.username}}</td>
        <td>{{warehouse.devicesNumber}}</td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['/warehouses/view/'+warehouse.id]"
                        class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i>&nbsp;
                    <span class="d-none d-md-inline">View</span>
                </button>
                <button type="submit"
                        [routerLink]="['./edit/'+warehouse.id]"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <i class="fa fa-pencil"></i>&nbsp;
                    <span class="d-none d-md-inline">Edit</span>
                </button>
                <button type="button" (click)="delete(warehouse)"
                        class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>&nbsp;
                    <span class="d-none d-md-inline">Delete</span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

