<div class="col-xl-12"  *ngIf="departments">
<h1>{{ 'Departments' | translate }}</h1>

<div class="row">
    <div class="col-lg-10">
        <input class="form-control" #searchBox id="search-box" (keyup)="filterDepartments(searchBox.value)"
               placeholder="{{'Search...'|translate}}"/>
    </div>
    <div class="col-lg-2">
        <button *ngIf="departments" class="btn btn-primary float-right jh-create-entity" [routerLink]="['./add']">
            <i class="fa fa-plus"></i>&nbsp;
            <span>{{ 'CreateDepartment' | translate }}</span>
        </button>
    </div>
</div>
<br>
<table class="table table-striped" align="center">
    <thead class="thead-inverse">
    <tr>
        <th>{{ 'ElementName' | translate }}</th>
        <th>{{ 'Company' | translate }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let department of departments">
        <td>{{department.name}}</td>
        <td>{{department.companyName}}</td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['/structures/departments/view/'+department.id]"
                        class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i>&nbsp;
                    <span class="d-none d-md-inline">{{'View'|translate}}</span>
                </button>
                <button type="submit"
                        [routerLink]="['./edit/'+department.id]"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <i class="fa fa-pencil"></i>&nbsp;
                    <span class="d-none d-md-inline">{{'Edit'|translate}}</span>
                </button>
                <button type="button" (click)="delete(department)"
                        class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>&nbsp;
                    <span class="d-none d-md-inline">{{'Delete'|translate}}</span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
