<div class="col-xl-12" *ngIf="offices">
<h1>{{ 'Offices' | translate }}</h1>

<div class="row">
    <div class="col-lg-10">
        <input class="form-control" #searchBox id="search-box" (keyup)="filterOffices(searchBox.value)"
               placeholder="{{'Search...'|translate}}"/>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./add']">
            <i class="fa fa-plus"></i>&nbsp;
            <span>{{ 'CreateOffice' | translate }}</span>
        </button>
    </div>
</div>
<br>
<table class="table table-striped" align="center">
    <thead class="thead-inverse">
    <tr>
        <th>{{ 'Name' | translate }}</th>
        <th>{{ 'City' | translate }}</th>
        <th>{{'ZipCode'|translate}}</th>
        <th>{{ 'Address' | translate }}</th>
        <th>{{'Company'|translate}}</th>
        <th>{{'Department'|translate}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let office of offices">
        <td>{{office.name}}</td>
        <td>{{office.city}}</td>
        <td>{{office.zipCode}}</td>
        <td>{{getAddress(office)}}</td>
        <td>{{office.companyName}}</td>
        <td>{{office.departmentName}}</td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['/structures/offices/view/'+office.id]"
                        class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i>&nbsp;
                    <span class="d-none d-md-inline">{{'View'|translate}}</span>
                </button>
                <button type="submit"
                        [routerLink]="['./edit/'+office.id]"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <i class="fa fa-pencil"></i>&nbsp;
                    <span class="d-none d-md-inline">{{'Edit'|translate}}</span>
                </button>
                <button type="button" (click)="delete(office.id)"
                        class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>&nbsp;
                    <span class="d-none d-md-inline">{{'Delete'|translate}}</span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
