<div class="col-xl-12">
    <h1>{{ 'Requests' | translate }}</h1>
    <br>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>{{'DeviceRequests'|translate}}</ng-template>
            <ng-template ngbTabContent>
                <table class="table table-striped" align="center">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                        <th>{{ 'Username' | translate }}</th>
                        <th>{{'Status'|translate}}</th>
                        <th>{{ 'Sender' | translate }}</th>
                        <th>{{'Reciever'|translate}}</th>
                        <th>{{'Date'|translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let request of deviceRequest">
                        <td>{{request.title}}</td>
                        <td>{{request.username}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.senderWarehouseName}}</td>
                        <td>{{request.recieverWarehouseName}}</td>
                        <td>{{request.utilTimestamp}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/structures/offices/view/'+request.id]"
                                        class="btn btn-info btn-sm">
                                    <i class="fa fa-eye"></i>&nbsp;
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['./edit/'+request.id]"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil"></i>&nbsp;
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="button" (click)="delete(request)"
                                        class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>{{'TransferRequests'|translate}}</ng-template>
            <ng-template ngbTabContent>
                <table class="table table-striped" align="center">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                        <th>{{ 'Username' | translate }}</th>
                        <th>{{'Status'|translate}}</th>
                        <th>{{ 'Sender' | translate }}</th>
                        <th>{{'Reciever'|translate}}</th>
                        <th>{{'Date'|translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let request of transferRequest">
                        <td>{{request.title}}</td>
                        <td>{{request.username}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.senderWarehouseName}}</td>
                        <td>{{request.recieverWarehouseName}}</td>
                        <td>{{request.utilTimestamp}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/structures/offices/view/'+request.id]"
                                        class="btn btn-info btn-sm">
                                    <i class="fa fa-eye"></i>&nbsp;
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['./edit/'+request.id]"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil"></i>&nbsp;
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="button" (click)="delete(request)"
                                        class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;
                                    <span class="d-none d-md-inline">Cancel</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>{{'TransferRequests'|translate}}</ng-template>
            <ng-template ngbTabContent>
                <table class="table table-striped" align="center">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                        <th>{{ 'Username' | translate }}</th>
                        <th>{{'Status'|translate}}</th>
                        <th>{{ 'Sender' | translate }}</th>
                        <th>{{'Reciever'|translate}}</th>
                        <th>{{'Date'|translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let request of deliveryRequest">
                        <td>{{request.title}}</td>
                        <td>{{request.username}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.senderWarehouseName}}</td>
                        <td>{{request.recieverWarehouseName}}</td>
                        <td>{{request.utilTimestamp}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/structures/offices/view/'+request.id]"
                                        class="btn btn-info btn-sm">
                                    <i class="fa fa-eye"></i>&nbsp;
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['./edit/'+request.id]"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil"></i>&nbsp;
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="button" (click)="delete(request)"
                                        class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;
                                    <span class="d-none d-md-inline">Cancel</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>{{'TransferRequests'|translate}}</ng-template>
            <ng-template ngbTabContent>
                <table class="table table-striped" align="center">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                        <th>{{ 'Username' | translate }}</th>
                        <th>{{'Status'|translate}}</th>
                        <th>{{ 'Sender' | translate }}</th>
                        <th>{{'Reciever'|translate}}</th>
                        <th>{{'Date'|translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let request of shipmentRequest">
                        <td>{{request.title}}</td>
                        <td>{{request.username}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.senderWarehouseName}}</td>
                        <td>{{request.recieverWarehouseName}}</td>
                        <td>{{request.utilTimestamp}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/structures/offices/view/'+request.id]"
                                        class="btn btn-info btn-sm">
                                    <i class="fa fa-eye"></i>&nbsp;
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['./edit/'+request.id]"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil"></i>&nbsp;
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="button" (click)="delete(request)"
                                        class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;
                                    <span class="d-none d-md-inline">Cancel</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
