<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>{{'ResetYourPassword'|translate}}</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input name="login" type="text" [(ngModel)]="loginData" class="form-control input-underline input-lg" id="LoginId" placeholder="{{'Username'|translate}}">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/login']">{{'BackToLoginScrean'|translate}}</a>
                &nbsp;
                <a class="btn rounded-btn" (click)="reset()"> {{'ForgetPassword'|translate}} </a>
            </form>
        </div>
    </div>
</div>
