
<div class="col-md-12">
    <h1>{{ 'WarehouseDeliveries' | translate }}</h1>

    <div class="row">
        <div class="col-lg-10">
            <input class="form-control" #searchBox id="search-box" (keyup)="filterDeliveries(searchBox.value)"
                   placeholder="{{'Search...'|translate}}" />
        </div>
    </div>
    <br>
    <table class="table table-striped" align="center">
        <thead class="thead-inverse">
        <tr>
            <th>{{ 'ElementName' | translate }}</th>
            <th>{{ 'DeliveryNumber' | translate }}</th>
            <th>{{'SerialNumber'| translate}}</th>
            <th>{{'DeviceModel'|translate}}</th>
            <th>{{'Sender'| translate}}</th>
            <th>{{'Reciever' | translate}}</th>
            <th>{{'CreateDate'| translate}}</th>
            <!--<th></th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let delivery of deliveries">
            <td>{{delivery.title}}</td>
            <td>{{delivery.deliveryNumber}}</td>
            <td>{{delivery.serialNumber}}</td>
            <td>{{delivery.deviceModelName}}</td>
            <td>{{delivery.sender}}</td>
            <td>{{delivery.receiver}}</td>
            <td>{{delivery.createDate}}</td>
            <!--<td class="text-right">-->
                <!--<div *ngIf="!delivery.confirmed" class="btn-group flex-btn-group-container">-->
                    <!--<button type="submit"-->
                            <!--(click)="confirm(delivery)"-->
                            <!--class="btn btn-info btn-sm">-->
                        <!--<i class="fa fa-eye"></i>&nbsp;-->
                        <!--<span class="d-none d-md-inline">{{'ConfirmReceipt'|translate}}</span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</div>
