<div class="col-md-12">
    <h1>{{ 'WarehouseDeliveries' | translate }}</h1>

    <div class="row">
        <div class="col-lg-10">
            <input class="form-control" #searchBox id="search-box" (keyup)="filterShipments(searchBox.value)"
                   placeholder="Search..." i18n-placeholder="User search placeholder"/>
        </div>
    </div>
    <br>
    <table class="table table-striped" align="center">
        <thead class="thead-inverse">
        <tr>
            <th>{{ 'ElementName' | translate }}</th>
            <th>{{ 'shipmentNumber' | translate }}</th>
            <th>{{'Status'| translate}}</th>
            <th>{{'Sender'| translate}}</th>
            <th>{{'Reciever' | translate}}</th>
            <th>{{'CreatDate'| translate}}</th>
            <th>{{'LastUpdate' | translate}}</th>
            <th>{{'OrderedBy' | translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let shipment of shipments">
            <td>{{shipment.title}}</td>
            <td>{{shipment.shipmentNumber}}</td>
            <td>{{shipment.status}}</td>
            <td>{{shipment.sender}}</td>
            <td>{{shipment.receiver}}</td>
            <td>{{shipment.createDate}}</td>
            <td>{{shipment.lastUpdate}}</td>
            <td>{{shipment.username}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['./view/'+shipment.id]"
                            class="btn btn-info btn-sm">
                        <i class="fa fa-eye"></i>&nbsp;
                        <span class="d-none d-md-inline">View</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
